<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>联系方式</title>
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="full-screen" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="../dist/css/style.css" />
</head>
<body class="page-contact">
<div id="orientLayer" class="mod-orient-layer">
    <div class="mod-orient-layer__content">
        <i class="icon mod-orient-layer__icon-orient"></i>
        <div class="mod-orient-layer__desc">请在解锁模式下使用竖屏浏览</div>
    </div>
</div>
<!--main content-->
<div class="wrapper">
    <header class="header">
        <img src="../dist/images/logo.jpg" alt="Power.Passion Partnership"/>
    </header>
    <h2 class="page-title">联系方式</h2>
    <div class="kv-wrap">
        <img src="../dist/images/contact-kv.jpg" alt="MTU"/>
    </div>
    <div class="content">
        <div class="shop-info">
            <h3 class="shop-title">MTU香港有限公司</h3>
            <p class="shop-contact">
                香港新界葵涌永業街<br>
                1至3號地下<br>
                总机: (852) 2418 4800<br>
                传真: (852) 2418 4801
            </p>
        </div>

        <div class="shop-info">
            <h3 class="shop-title">安特优发动机工程（苏州）有限公司</h3>
            <p class="shop-contact">
                苏州市工业园区龙运路9号<br>
                邮编：215024<br>
                电话:+86 512 6285 0188<br>
                传真:+86 512 6285 0388
            </p>
        </div>

        <div class="shop-info">
            <h3 class="shop-title">MTU北京分公司</h3>
            <p class="shop-contact">
                北京市朝阳区酒仙桥路20号<br>
                颐堤港一座3层304室<br>
                邮编：100016<br>
                Tel/电话:+86 10 8565 5101<br>
                Fax/传真:+86 10 8525 2213
            </p>
        </div>

        <div class="shop-info">
            <h3 class="shop-title">MTU上海分公司</h3>
            <p class="shop-contact">
                上海市徐汇区天钥桥路333号腾飞大厦18楼1801-1803室<br>
                邮编：200030<br>
                电话:+86 21 2419 0500<br>
                传真:+86 21 2419 0550
            </p>
        </div>

        <div class="shop-info">
            <h3 class="shop-title">MTU深圳分公司</h3>
            <p class="shop-contact">
                深圳市南山区南海大道以西美年广场5栋402B房<br>
                邮编：518000<br>
                电话:+86 755 2267 0622<br>
                传真:+86 755 2669 1286
            </p>
        </div>

        <div class="shop-info">
            <h3 class="shop-title">MTU大连分公司</h3>
            <p class="shop-contact">
                大连市中山区五惠路21号瑞诗酒店1206房间<br>
                邮编：116001<br>
                电话:+86 411 8368 3182/8368 3183<br>
                传真:+86 411 8368 3186
            </p>
        </div>

        <div class="shop-info">
            <h3 class="shop-title">安特优管理咨询（上海）有限公司</h3>
            <p class="shop-contact">
                上海市天钥桥路333号腾达大厦18楼1801-1803室<br>
                邮编：200030<br>
                总机: +86 21 2419 0500<br>
                传真:+86 21 2419 0550
            </p>
        </div>
    </div>
</div>
</body>
</html>
