<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>MTU OE 简介</title>
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="full-screen" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="../dist/css/style.css" />
</head>
<body class="page-home">
    <div id="orientLayer" class="mod-orient-layer">
        <div class="mod-orient-layer__content">
            <i class="icon mod-orient-layer__icon-orient"></i>
            <div class="mod-orient-layer__desc">请在解锁模式下使用竖屏浏览</div>
        </div>
    </div>
    <!--main content-->
    <div class="wrapper">
        <header class="header">
            <img src="../dist/images/logo.jpg" alt="Power.Passion Partnership"/>
        </header>
        <h2 class="page-title">MTU OE 简介</h2>
        <div class="kv-wrap">
            <img src="../dist/images/oe/oe-intro-kv.jpg" alt="MTU"/>
        </div>
        <div class="content">
            <p class="des">
                <span class="firstletter">随</span>着人口增加和经济发展，大家对能源的需求也日益增长。MTU现场能源（Onsite Energy）可通过提供可靠且具有成本效益的能源产品和服务解决方案，满足该需求 。
            </p>
            <p class="des">
                MTU现场能源是罗罗动力系统公司的核心品牌之一,而罗罗动力系统公司则是全球领先的高中速柴油机和燃气机、全套推进系统、分布式能源系统和燃油喷射系统提供商, 其产品可满足最苛刻的要求。
            </p>
            <p class="des">
                MTU现场能源可提供全套动力系统解决方案：从关键任务到备用电力，再到连续电力、供热与制冷。我们也可提供规格齐全的维修产品，可助您的设备发挥最大效益。
            </p>
            <p class="des">
                全球各地的客户相信我们可为各种不同的应用提供可靠的电力，例如医疗保健中心、数据中心、机场、农场和独立的电站。我们的产品组合包括高达3250kW的柴油发电机组，高达2500kW的燃气废热发电系统和高达50000kW的燃气轮机。本产品系列还包括陆基能源解决方案——功率高达9300kW的中速发动机，该发动机是罗罗动力系统公司产品组合的一部分。
            </p>
            <p class="des">
                60多年的发电系统专业知识和一个多世纪的柴油机工程经验使我们能够在全球各地为客户提供全套解决方案。
                我们一直坚持研发可持续的替代品（替代解决方案），以及利用不影响气候的再生燃料提供更加绿色的能源的系统，例如采用生物气体、填埋气或沼气作为燃料的热电联供（CHP）厂。
            </p>
        </div>
        <footer class="footer">
            <a class="more" href="http://www.mtuonsiteenergy.com/company/index.cn.html">点击这里了解更多</a>
        </footer>
    </div>
</body>
</html>
