<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>MTU是罗罗动力系统的核心，是罗尔斯罗伊斯公司的全资子公司</title>
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="full-screen" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="../dist/css/style.css" />
</head>
<body class="page-home">
    <div id="orientLayer" class="mod-orient-layer">
        <div class="mod-orient-layer__content">
            <i class="icon mod-orient-layer__icon-orient"></i>
            <div class="mod-orient-layer__desc">请在解锁模式下使用竖屏浏览</div>
        </div>
    </div>
    <!--main content-->
    <ul class="navigation">
        <li class="firstlevel">
            <!-- about MTU-->
            <ul class="first-lists">
                <li class="item">
                    <a href="intro.html">MTU OE 简介</a>
                </li>
                <li class="item">
                    <a href="contact.html">联系方式</a>
                </li>
            </ul>
        </li>
        <li class="product-show">
            <!-- product show-->
            <ul class="second-lists">
                <li class="item">
                    <a href="part-service.html">零备件及服务</a>
                </li>
                <li class="item">
                    <a href="products.html">产品</a>
                </li>
            </ul>
        </li>
        <li class="product-show">
            <!-- 应用案例   -->
            <ul class="second-lists">
                <li class="item">
                    <a href="solution.html">解决方案</a>
                </li>
            </ul>
        </li>

    </ul>
</body>
</html>
