<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>零备件及服务</title>
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="full-screen" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="../dist/css/style.css" />
</head>
<body class="page-part-service">
<div id="orientLayer" class="mod-orient-layer">
    <div class="mod-orient-layer__content">
        <i class="icon mod-orient-layer__icon-orient"></i>
        <div class="mod-orient-layer__desc">请在解锁模式下使用竖屏浏览</div>
    </div>
</div>
<!--main content-->
<div class="wrapper">
    <header class="header">
        <img src="../dist/images/partnership.jpg" alt="Power.Passion Partnership"/>
    </header>
    <h2 class="page-title">零备件及服务</h2>
    <div class="kv-wrap">
        <img src="../dist/images/oe/oe-parts-service-kv.jpg" alt="MTU"/>
    </div>
    <div class="content">
        <div class="item-part">
            <p class="des">
                <span class="firstletter">虽</span>然凭借MTU极富盛名的高技术标准，每台MTU发动机和系统都有着很长的使用寿命，然而我们对品质和无故障运行时间的承诺并不会在销售后就终止。为了使MTU Onsite Energy柴油发动机系统发挥最大功效，请采用MTU ValueCare。从维护保养到零备件和再制造产品，MTU ValueCare是一个完整的产品和服务组合，可最大程度地提高MTU设备的性能、可靠性和寿命。
            </p>
        </div>
        <div class="item-part">
            <p class="des">
                MTU ValueCare 包括以下三大产品线：<br>
                ValueService: 全球范围内的服务和支持，帮助保护您的投资<br>
                ValueSpares: 专为 MTU Onsite Energy 设备设计的正品零备件和高品质耗材<br>
                ValueExchange: 采用与新产品相同的高质量标准设计制造的再造发动机、系统和维修零件
            </p>
        </div>
        <div class="item-part">
            <p class="des">
                我们已建成全天候（24/7）客户服务支持中心（Customer Assistance Center），可为用户提供全面服务支持，并可通过MTU Onsite Energy服务网络为全球客户提供支持服务。
            </p>
        </div>
    </div>
    <footer class="footer">
        <a class="more" href="http://www.mtuonsiteenergy.com/parts-service/mtu-valuecare-for-diesel-generator-sets/index.cn.html">点击这里了解更多</a>
    </footer>
</div>
</body>
</html>
