<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>MTU是罗罗动力系统的核心，是罗尔斯罗伊斯公司的全资子公司</title>
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="full-screen" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="../dist/css/style.css" />
</head>
<body class="page-oe-products">
    <div id="orientLayer" class="mod-orient-layer">
        <div class="mod-orient-layer__content">
            <i class="icon mod-orient-layer__icon-orient"></i>
            <div class="mod-orient-layer__desc">请在解锁模式下使用竖屏浏览</div>
        </div>
    </div>
    <!--main content-->
    <div class="wrapper">
        <header class="header">
            <img src="../dist/images/partnership.jpg" alt="Power.Passion Partnership"/>
        </header>
        <h2 class="page-title">产品</h2>
        <div class="kv-wrap kv-wrap-1">
            <img src="../dist/images/oe/products-kv-1.jpg" alt="MTU"/>
        </div>
        <div class="content">
            <h3 class="title">发电用发动机</h3>
            <p class="des">
                MTU Onsite Energy的发电用发动机得益于在生产柴油发电机组驱动系统方面的100多年经验。我们将改革创新集中在不断提高我们的核心竞争力：燃油喷射、涡轮增压、排气后处理和电子设备。由于其尺寸小巧，我们的发动机可轻松集成到发电机组中，而其功率范围为249~3490 kW。MTU柴油发动机适用于应急、基本负荷和高峰负荷发电机组。它们可用作医院、数据中心、机场、写字楼、购物中心、公共设施、工业设施及众多其他行业的发电机组驱动系统。MTU柴油发动机可为您提供众多益处。其稳健的结构特别适合于在极端条件下运行。同时，我们的柴油发动机维护时间间隔长，且进行了燃料优化，使之在低成本高效运营以及符合排放规定方面令人信服。
            </p>
        </div>
        <div class="kv-wrap kv-wrap-2">
            <img src="../dist/images/oe/products-kv-2.jpg" alt="MTU"/>
        </div>
        <div class="content">
            <h3 class="title">柴油发电机组</h3>
            <p class="des">
                MTU Onsite Energy 柴油发电机组可为您的发电需求提供可靠的解决方案。从持续/峰值、紧急应用和标准备用电源到加热和冷却。我们还提供完整的维护产品，帮助您充分挖掘设备的潜力。它具有油耗低、维修保养间隔长和排放低等特点，我们公司有着60多年的经验积累支持，我们的发电机组是根据其所需完成任务而设计。全球客户都信任我们可为大量应用提供可靠的电源，如医疗保健,数据中心,机场,制造工厂和独立的发电站. 我公司的产品系列涵盖了3250kWe以下的柴油发电机组。
            </p>
        </div>
        <div class="kv-wrap kv-wrap-3">
            <img src="../dist/images/oe/products-kv-3.jpg" alt="MTU"/>
        </div>
        <div class="content">
            <h3 class="title">燃气发电机组</h3>
            <p class="des">
                MTU Onsite Energy拥有数十年的经验和全套系统专业技术，可为各种应用场合提供可靠的燃气发电机组。行业和地点会变化，但对稳定电源的需求永远也不会改变。 不管是持续电源、备用电源还是主电源，不管是发电还是热电联供（CHP），MTU Onsite Energy燃气发电机组都可满足您的具体要求，为您提供高效可靠的配置。我们有着60多年的发电系统专业知识积累和一个多世纪的柴油机工程经验，可为全球客户提供完善的全套解决方案。我们持续不断地开发可持续的替代方案，以及采用气候友好型可再生燃料生产更绿色环保能源的系统，例如采用生物气、填埋气或沼气燃料的热电联供（CHP）设备。我们公司的产品覆盖了2500KW以下的燃气发电机组。
            </p>
        </div>
        <div class="kv-wrap kv-wrap-4">
            <img src="../dist/images/oe/products-kv-4.jpg" alt="MTU"/>
        </div>
        <div class="content">
            <h3 class="title">中速发电机组</h3>
            <p class="des">
                中速发电机组包括液体染料发电机组和燃气发电机组，本产品系列作为罗罗动力系统公司产品系列的组成部分，完善了采用9300kW以下中速发动机为动力的陆基能源解决方案。MTU Onsite Energy可提供全套动力系统解决方案：从关键任务到备用电源，再到持续电源、热能和冷能供应。我们也可提供规格齐全的系列服务产品，可助您的设备发挥最大效益，使您获得最大收益。全球客户充分信任我们可为其各类应用提供可靠的动力，例如医疗设施，数据中心，机场，农场和独立的发电站。
            </p>
        </div>
        <footer class="footer">
            <a class="more" href="http://www.mtuonsiteenergy.com/products/index.cn.html">点击这里了解更多</a>
        </footer>
    </div>
</body>
</html>
