<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>MTU是罗罗动力系统的核心，是罗尔斯罗伊斯公司的全资子公司</title>
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="full-screen" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="../dist/css/style.css" />
</head>
<body class="page-home">
    <div id="orientLayer" class="mod-orient-layer">
        <div class="mod-orient-layer__content">
            <i class="icon mod-orient-layer__icon-orient"></i>
            <div class="mod-orient-layer__desc">请在解锁模式下使用竖屏浏览</div>
        </div>
    </div>
    <!--main content-->
    <div class="wrapper">
        <header class="header">
            <img src="../dist/images/partnership.jpg" alt="Power.Passion Partnership"/>
        </header>
        <h2 class="page-title">解决方案</h2>
        <div class="kv-wrap">
            <img src="../dist/images/oe/oe-solution-kv.jpg" alt="MTU"/>
        </div>
        <div class="content">
            <p class="des">
                <span class="firstletter">随</span>着经济不断发展、人口和基础设施不断增多，对能源的需求也与日俱增。经济效益高、可靠的能源供应变得比以往任何时候都重要。
                从关键任务到日常备用电源，再到持续电能、热能和冷能供应，无论何时、何地，只要有可靠性需求，MTU Onsite Energy 皆可提供一整套可靠的柴油和燃气发电解决方案。已有数以千计的MTU Onsite Energy现场能源装置在全球得以应用，这表明MTU Onsite Energy为各种设施（如医疗机构、酒店、数据中心、制造厂和独立发电厂）提供完整供电解决方案的能力深受客户信赖。
                通过采用可靠的技术，MTU Onsite Energy柴油发电机组和燃气驱动热电联供系统具有低寿命周期成本和品质安全的特点。这就这就是MTU Onsite Energy的系统在可靠热能和电能提供效率方面，得到全世界各地客户信赖的原因。
            </p>
        </div>
        <footer class="footer">
            <a class="more" href="http://www.mtuonsiteenergy.com/solutions/index.cn.html">点击这里了解更多</a>
        </footer>
    </div>
</body>
</html>
