/*Common setting for all page*/
.header{
  background: #fff;
  width: 100%;
  text-align: right;
  padding: 0.44rem 0.5rem 0.3rem 0;
  box-sizing: border-box;
  img{
    display: inline-block;
    @include size(3.03rem,0.8rem);
  }
}
.page-title{
  height: 1.2rem;
  line-height: 1.2rem;
  font-size: 0.42rem;
  background: #f1f1f1;
  text-align: center;
  color: #000;
}
.content{
  padding: 0.5rem 0.5rem 1rem;
  box-sizing: border-box;
  p{
    color: #4f4f4f;
    .firstletter{
      font-size:0.5rem;
      color:#4f4f4f;
      line-height: 0.44rem;
    }
  }
}
.footer{
  padding: 0.75rem;
  background: #f1f1f1;
  .more{
    text-align: center;
    display: block;
    @include size(3.4rem,0.6rem);
    line-height: 0.6rem;
    color: #fff;
    text-decoration: none;
    font-size: 0.28rem;
    margin: 0 auto;
    background: #97a7c2;
    &:before{
      content: '';
      display: inline-block;
      position: relative;
      top: 0.08rem;
      margin-right: 0.2rem;
      @include size(0.33rem,0.33rem);
      background: url("../images/icon-link.png") no-repeat;
      background-size: 100%;
    }
  }
}

/* For contact page --- contact.html */
.page-contact{
  .shop-info{
    margin-bottom: 0.45rem;
    text-align: center;
    .shop-title{
      font-size: 0.3rem;
      color: #7f7365;
      font-weight: bold;
      margin-bottom: 0.1rem;
    }
  }
}


/* for page-part-service */
.page-part-service{
  .item-part{
    margin-bottom: 0.5rem;
    .title{
      font-size: 0.32rem;
      font-weight: bold;
      line-height: 1.5;
      margin-bottom: 0.2rem;
    }
  }
}

/* for engine page */
.page-engine{
  .des{
    &:first-child{
      margin-bottom: 0.75rem;
    }
  }
}


/* For page-oe-products */
.page-oe-products{
  .title{
    font-size: 0.38rem;
    color: #7f7365;
    font-weight: bold;
  }
}